<!DOCTYPE html>
<html>
<title>{{me.name}}</title>
<head>
<script language="javascript" src="fancybox/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="fancybox/source/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" href="fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
<link rel="stylesheet" href="fancybox/source/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
<link rel="stylesheet" href="content.css" type="text/css">
<script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-buttons.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
</head>
<body>
<!-- images -->
<div style="float: right; overflow-x: hidden; overflow-y: scroll; height:650px; width: 250px; margin: 0px;">
	<table align="center" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td>
				<ul>
					{% block imagesandmovies %}
					{% for image in images %}
						<li class="center">
							<a href="{{image.url}}" class="fancybox" rel="pix">
								<img width="220" src="{{image.url}}">
							</a>
						</li>
					{% endfor %}
					{% for video in videos %}
						<li>
							<iframe width="220" src="{{video.url}}" frameborder="0" allowfullscreen></iframe>
						</li>
					{% endfor %}
					{% endblock %}
				</ul>
			</td>
		</tr>
	</table>
</div>
<!-- content -->
<div style="overflow-x: hidden; overflow-y: scroll; height:650px; margin: 0px;">
<h1><center>{{me.name}}</center></h1>
<h2><center>{{me.info.type_}}</center></h2>
<hr width="70%"/>
<img class="mainimg" width="300" src="{{me.ref.primaryImage.url}}"/>
<p><font size="4">{% block history %}{% endblock %}
<br><hr width="30%"/><br>
    {% block info %}
    {% endblock %}
<br>
<hr width="80%"/>
{% block related %}
{% endblock %}
<hr width="80%"/>
<h3>External Links:</h3>
<ul>
	{% for social in socials %} 
	<li class="indented"><a target="_blank" href="{{social.url}}"><b>{{social.title}}</b></a></li>
	{% endfor %}
	{% for ext in exts %}
	<li class="indented"><a target="_blank" href="{{ext.url}}"><b>{{ext.url}}</b></a></li>
	{% endfor %}
</ul>
</div>
</body>
</html>
