{% extends "basetemplate.html" %}

{% block history %}{{me.info.history}}{% endblock %}

{% block info %}
<ul>
	<li><b>Location:</b> {{me.info.loc.country}} 
	{% if me.info.loc.city != "" and me.info.loc.city != None %} {{me.info.contact.loc.city}} {% endif %}
	{% if me.info.loc.state != "" and me.info.loc.state != None %} {{me.info.contact.loc.state}} {% endif %}
	{% if me.info.loc.region != "" and me.info.loc.region != None %} {{me.info.contact.loc.region}} {% endif %}
	</li>
	{% if me.info.contact.phone != "" and me.info.contact.phone != None %}
	<li><b>Phone Number:</b> {{me.info.contact.phone}}</li>
	{% endif %}
	{% if me.info.contact.email != "" and me.info.contact.email != None %}
	<li><b>E-mail Address:</b> {{me.info.contact.email}}</li>
	{% endif %}
	{% if me.info.contact.mail.city != None or me.info.contact.mail.state != None or me.info.contact.mail.country != None or me.info.contact.mail.address != None or me.info.contact.mail.zip_ != None %}
	<li><b>Address:</b>
		<p>{% if me.info.contact.mail.city != "" and me.info.contact.mail.city != None %}{{me.info.contact.mail.city}},{% endif %}
		{% if me.info.contact.mail.state != "" and me.info.contact.mail.state != None %}{{me.info.contact.mail.state}} {% endif %}
		{% if me.info.contact.mail.country != "" and me.info.contact.mail.country != None %}{{me.info.contact.mail.country}}{% endif %}
		{% if me.info.contact.mail.address != "" and me.info.contact.mail.address != None %}
		<p>{{me.info.contact.mail.address}}
		{% endif %}
		{% if me.info.contact.mail.zip_ != "" and me.info.contact.mail.zip_ != None %}
		<p>{{me.info.contact.mail.zip_}}
		{% endif %}
		</li>
	{% endif %}
	{% if me.misc != "" and me.misc != None %}
	<li><b>Miscelanious Details:</b> {{me.misc}}</li>
	{% endif %}
</ul>
{% endblock %}

{% block related %}
<h3>Related People:</h3>
	<ul>
	{% for person in relatedpeople %}
		<li class="indented">
			<a href="/people/{{person.0.idref}}"><b>{{person.0.name}}</b></a>
		</li>
	{% endfor %}
	</ul>
<br>
<hr width="80%"/>
<h3>Related Crises:</h3>
	{% for crisis in relatedcrises %}
	<ul>
		<li class="indented">
			<a href="/crises/{{crisis.0.idref}}"><b>{{crisis.0.name}}</b></a>
		</li>
	</ul>
	{% endfor %}
<br>
{% endblock %}
