{% extends "basetemplate.html" %}

{% block history %}{{me.info.history}}{% endblock %}

{% block info %}
<ul>
	<li><b>Location:</b>  {{me.info.loc.region}} {{me.info.loc.city}}, {{me.info.loc.country}}</li>
	<li><b>Phone Number:</b> {{me.info.contact.phone}}</li>
	<li><b>E-mail Address:</b> {{me.info.contact.email}}</li>
	<li><b>Address:</b>
		<p>{{me.info.contact.mail.city}}, {{me.info.contact.mail.state}} {{me.info.contact.mail.country}}
		<p>{{me.info.contact.mail.address}}
		<p>{{me.info.contact.mail.zip_}}
		</li>
	<li><b>Miscelanious Details:</b> {{me.misc}}</li>
</ul>
{% endblock %}

{% block related %}
<h3>Related People:</h3>
	<ul>
	{% for person in relatedpeople %}
		<li class="indented">
			<a href="orgs/{{person.0.idref}}"><b>{{person.0.name}}</b></a>
		</li>
	{% endfor %}
	</ul>
<br>
<hr width="80%"/>
<h3>Related Crises:</h3>
	{% for crisis in relatedcrises %}
	<ul>
		<li class="indented">
			<a href="orgs/{{crisis.0.idref}}"><b>{{crisis.0.name}}</b></a>
		</li>
	</ul>
	{% endfor %}
<br>
{% endblock %}
