{% extends "basetemplate.html" %}

{% block mainchunk %}
<h1><center>{{person.name}}</center></h1>
<hr width="70%"/>
<img class="mainimg" width="300" src="{{ref.primaryImage.url}}"/>
<p><font size="4">{{person.info.biography}}
<br><hr width="30%"/><br>
	<ul>
		<li><b>Significance:</b> {{person.info.type_}}</li>
		<li><b>Nationality:</b> {{person.info.nationality}}</li>
		<li><b>Birthday:</b>  {{person.info.birthday.date.month}} {{person.info.birthday.date.day}}, {{person.info.birthday.date.year}}</li>
		<li><b>Miscelanious Details:</b>  {{person.misc}}</li>
	</ul>
<br>
<hr width="80%"/>
<h3>Related Oganizations:</h3>
	<ul>
	{% for org in person.relatedOrgs %}
		<li class="indented">
			<a href="orgs/{{org.idref}}"><b>{{org.name}}/b></a>
		</li>
	{% endfor %}
	</ul>
<br>
<hr width="80%"/>
<h3>Related Crises:</h3>
	{% for crisis in person.relatedCrises %}
	<ul>
		<li class="indented">
			<a href="orgs/{{crisis.idref}}"><b>{{crisis.name}}/b></a>
		</li>
	</ul>
	{% endfor %}
<br>
<hr width="80%"/>
<h3>External Links:</h3>
<ul>
	{% for social in person.ref.socials %} 
	<li class="indented"><a target="_blank" href="{{social.url}}"><b>{{social.title}}</b></a></li>
	{% endfor %}
	{% for ext in person.ref.exts %}
	<li class="indented"><a target="_blank" href="{{ext.url}}"><b>{{ext.url}}</b></a></li>
	{% endfor %}
</ul>
{% endblock %}
