{% extends "basetemplate.html" %}

{% block history %}{{me.info.biography}}{% endblock %}

{% block info %}
<ul>
	{% if me.info.nationality != "" and me.info.nationality != None %}
	<li><b>Nationality:</b> {{me.info.nationality}}</li>
	{% endif %}
	
	{% if me.info.birthday.date.month != "" and me.info.birthday.date.day != "" and me.info.birthday.date.year != "" and me.info.birthday.date.month != None and me.info.birthday.date.day != None and me.info.birthday.date.year != None %}
	<li><b>Birthday:</b>  {{me.info.birthday.date.month}} {{me.info.birthday.date.day}}, {{me.info.birthday.date.year}}</li>
	{% endif %}
	
	{% if me.info.misc != "" and me.info.misc != None %}
	<li><b>Miscelanious Details:</b>  {{me.misc}}</li>
	{% endif %}
</ul>
{% endblock %}

{% block related %}
<h3>Related Oganizations:</h3>
	<ul>
	{% for org in relatedorgs %}
		<li class="indented">
			<a href="/organizations/{{org.0.idref}}"><b>{{org.0.name}}</b></a>
		</li>
	{% endfor %}
	</ul>
<br>
<hr width="80%"/>
<h3>Related Crises:</h3>
	{% for crisis in relatedcrises %}
	<ul>
		<li class="indented">
			<a href="/crises/{{crisis.0.idref}}"><b>{{crisis.0.name}}</b></a>
		</li>
	</ul>
	{% endfor %}
<br>
{% endblock %}
