<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>{{query}} - World Crises Search</title>
<link rel="stylesheet" href="/stylesheets/content.css" type="text/css">
</head>

<body>
<div style="overflow-x: hidden; overflow-y: scroll; height:650px; margin: 0px;">

{% if people_results or crises_results or org_results %}
  <h3>Returned search results for: {{query}}</h3>
{% else %}
  <h3>No results found for: {{query}}</h3>
{% endif %}

{% if people_results %}
<br><b>People</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;({{people_results|length}}
  result{% if people_results|length > 1 %}s{% endif %})<br><br>
{% for result in people_results %}
<div class="search_result">
  <a href="people/{{result.0.idref}}">{{result.0.name}}</a><br>
  <ul>
    {% for context in result.1 %}
    <li><span class="context_type">{{context.0}}</span>{{context.1|safe}}</li>
    {% endfor %}
  </ul>
</div>
{% endfor %}
{% endif %}

  
{% if crises_results %}
<br><b>Crises</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;({{crises_results|length}} result{% if crises_results|length > 1 %}s{% endif %})<br><br>
{% for result in crises_results %}
<div class="search_result">
  <a href="crises/{{result.0.idref}}">{{result.0.name}}</a><br>
  <ul>
    {% for context in result.1 %}
    <li><span class="context_type">{{context.0}}</span>{{context.1|safe}}</li>
    {% endfor %}
  </ul>
</div>
{% endfor %}
{% endif %}

{% if org_results %}
<br><b>Organizations</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;({{org_results|length}} result{% if org_results|length > 1 %}s{% endif %})<br><br>
{% for result in org_results %}
<div class="search_result">
  <a href="organizations/{{result.0.idref}}">{{result.0.name}}</a><br>
  <ul>
    {% for context in result.1 %}
    <li><span class="context_type">{{context.0}}</span>{{context.1|safe}}</li>
    {% endfor %}
  </ul>
</div>
{% endfor %}
{% endif %}

<hr>
<address></address>
<!-- hhmts start -->Last modified: Fri Jul 27 02:51:09 CDT 2012 <!-- -->
<!--hhmts end -->
</div>
</body> </html>
