<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>{{query}} - World Crises Search</title>
<link rel="stylesheet" href="/stylesheets/content.css" type="text/css">
</head>

<body>
<div style="overflow-x: hidden; overflow-y: scroll; height:650px; margin: 0px;">
<h3>Returned search results for: {{query}}</h3>

{% if people_results %}
<h4>People</h4>
{% for result in people_results %}
<div class="search_result">
  <a href="people/{{result.0.idref}}">{{result.0.name}}</a><br>
  <ul>
    {% for context in result.1 %}
    <li><span class="context_type">{{context.0}}</span>{{context.1|safe}}</li>
    {% endfor %}
    <li>SCORE: {{result.2}}</li>
  </ul>
</div>
{% endfor %}
{% endif %}

  
{% if crises_results %}
<h4>Crises</h4>
{% for result in crises_results %}
<div class="search_result">
  <a href="crises/{{result.0.idref}}">{{result.0.name}}</a><br>
  <ul>
    {% for context in result.1 %}
    <li><span class="context_type">{{context.0}}</span>{{context.1|safe}}</li>
    {% endfor %}
    <li>SCORE: {{result.2}}</li>
  </ul>
</div>
{% endfor %}
{% endif %}

{% if org_results %}
<h4>Organizations</h4>
{% for result in org_results %}
<div class="search_result">
  <a href="organizations/{{result.0.idref}}">{{result.0.name}}</a><br>
  <ul>
    {% for context in result.1 %}
    <li><span class="context_type">{{context.0}}</span>{{context.1|safe}}</li>
    {% endfor %}
    <li>SCORE: {{result.2}}</li>
  </ul>
</div>
{% endfor %}
{% endif %}

<hr>
<address></address>
<!-- hhmts start -->Last modified: Fri Jul 27 02:51:09 CDT 2012 <!-- -->
<!--hhmts end -->
</div>
</body> </html>
